html, body{
	height: 100%;
	overflow-x: hidden;
}
header{
	background: url(../img/picture.jpg) center no-repeat;
	background-size: cover;
	height: 100%;
	min-height: 300px;
}
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}

.header{
	.menu-mobile{
		width: 100%;
	}
	&__logo{
		margin-top: 14px;

	}
	&__logo-item{
		list-style: none;
	}
	&__logo-link{
		font-family: Montserrat, sans-serif;
		font-weight: bold;
		font-size: 30px;
		color: #ffffff;
		&:hover{
			text-decoration: none;
			color: #ffffff;
			}
	}

	&__menu{
		margin-top: 30px;
		float: right;
	}
	&__menu-item{	
		font-family: Montserrat, sans-serif;
		text-transform: uppercase;
		color: #ffffff;
		list-style: none;
		display: inline-block;
		font-size: 14px;
		padding-left: 55px;
	}	
	&__menu-link{
		color: #ffffff;
		text-decoration: none;			
		-webkit-transition: .2s ease-in-out;
	    -moz-transition: .2s ease-in-out;
	    -o-transition: .2s ease-in-out;
	    transition: .2s ease-in-out;
		&:hover{
			color: #fce38a;
			text-decoration: none;

	    	padding-bottom: 7px;
	    	border-bottom: 3px solid #fce38a;
	    	
		}
		&:active{
			color: #fce38a;
			border-bottom: 1px solid #fce38a;
			padding-bottom: 7px;
	    	border-bottom: 3px solid #fce38a;
		}
	}

	&__content-title{
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		color: #ffffff;
		font-size: 150px;
		line-height: 140px;
		text-align: center;
		text-transform: uppercase;
		margin-top: 28px;
		margin-bottom: 64px;
	}
	&__content-subtitle{
		font-family: 'Kaushan Script', cursive;
    	font-weight: normal;
    	font-style: normal;
		color: #ffffff;
		font-size: 72px;
		text-align: center;
		margin-top: 145px;
	}
	&__content-line{
		width: 60px;
		border-top: 3px solid #fff;
		margin-bottom: 55px;
	}
	&__content-btn{
		text-align: center;
	}
	&__content-btn_default{
		font-family: Montserrat, sans-serif;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		padding: 8px 29px 9px 29px;
		margin: 0 10px;
		border: 3px solid #fff;
		border-radius: 0;
		background: #efc788;
		transition: background .5s;
		&:hover{
			background: #dab479;
			border: 3px solid #fff;
			color: #fff;
			text-decoration: none;
		}
		&:visited{
			background: #efc788;
			border: 3px solid #fff;
			color: #fff;
		}
	}
	&__mobile-button{
		outline: none;
	}
	&__mobile-animated-icon1,
	&__mobile-animated-icon2,
	&__mobile-animated-icon3 {
	    width: 30px;
	    height: 20px;
	    position: relative;
	    margin: 0px;
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	    -webkit-transition: .5s ease-in-out;
	    -moz-transition: .5s ease-in-out;
	    -o-transition: .5s ease-in-out;
	    transition: .5s ease-in-out;
	    cursor: pointer;
    	span{
			display: block;
			position: absolute;
			background: #fff;
			height: 3px;
			width: 100%;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
			&:nth-child(1){
				margin-top: 0;
			}
			&:nth-child(2){
				margin-top: 8px;
			}
			&:nth-child(3){
				margin-top: 16px;
			}
		} 
	}
}
.heading{
	padding-top: 90px;
	padding-bottom: 40px;
	&__subtitle{
	font-family: 'Kaushan Script', cursive;
	font-weight: normal;
	font-style: normal;
	color: #333333;
	font-size: 24px;
	text-align: center;
	}
	&__title{
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		color: #333333;
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;
	}
	&__line{
		width: 60px;
		border-top: 3px solid #f38181;
		margin-top: 26px;
		margin-bottom: 0;
	}
}
.description{
	&__text{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: normal;
	color: #999999;
	text-align: center;
	padding: 0 120px 0 120px;
	margin-bottom: 0;
	}
}
.info{
	padding-top: 98px;
	padding-bottom: 110px;
	&__3col{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -15px 0;
	}
	&__wrapper{
		width: 33.33333%;
    	padding: 0 15px;
	}
	&__item{
		position: relative;
		background-color: #95e1d3;
		&:hover{
			.info__box{
				transform: translate3d(-10px, -10px, 0);
			}
			.box_gradient img{
				opacity: .1;
			}
			.info__description{
				opacity: 1;
			}
		}
	}
	&__box{
		transition: transform .2s linear;
	}
	.box_gradient{
	    background: linear-gradient(to bottom, #f38181, #fce38a);
    	transition: transform .2s linear;
	}
	img{
		display: block;
		max-width: 100%;
		height: auto;
		transition: opacity .1s linear;
    }
	&__description{
		width: 100%;
	    font-size: 18px;
	    color: #fff;
	    text-transform: uppercase;
	    font-weight: 700;
	    text-align: center;
	    opacity: 0;
	    position: absolute;
	    top: 50%;
	    left: 0;
	    z-index: 2;
	    transform: translate3d(0, -50%, 0);
	    transition: opacity .2s linear;
	}
	&__icon{
		margin: 0 auto;
		opacity: 1 !important;
	}
	&__signature{
		font-family: 'Montserrat', sans-serif;
		color: #333333;
		text-transform: uppercase;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
		margin-top: 25px; 
	}
	.signature_thin{
		font-family: 'Roboto', sans-serif;
		color: #999999;
		font-weight: lighter;
		font-style: italic;
		text-transform: none;
		font-size: 15px;
		margin-top: 5px;
		line-height: 24px;
	}
	&__icons {
    	display: flex;
    	justify-content: center;
	}
	&__icons-item {
	    width: 55px;
	    height: 55px;
	    padding: 12px 10px;
	    background-color: #fce38a;
	    border-right: 1px solid #f38181;
	    font-size: 30px;
	    text-decoration: none;
	    color: #f38181;
	    line-height: 1;
	    transition: background .1s linear, color .1s linear;
	}
	&__icons-item:last-child{
		border-right: none;
	}
	&__icons-item:hover {
	    color: #ffffff;
	    background-color: #f38181;
	}

}
.counter{
	margin-bottom: 50px;
	background-color: #95e1d3;
	.container{
		display: flex;
		flex-wrap: wrap;
	}
	&__child{
		flex: 1 1 0;
		padding: 77px 25px 84px 25px;
		border-left: 1px solid #b5eae0;
		text-align: center;
	}
	&__child:last-child {
    	border-right: 1px solid #b5eae0;
	}
	&__number{
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		color: #ffffff;
		font-size: 72px;
		line-height: 1;
		margin-bottom: 16px; 
	}
	&__description{
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		color: #ffffff;
		font-size: 14px;
		text-transform: uppercase; 
	}
}
.slider{
	background-color: #f8f8f8;
	padding-top: 70px;
	padding-bottom: 70px;
	margin-bottom: 100px;
	&__box{
		width: 90%;
		margin: 0 auto;
	}
	.item::active{
		width: 88%;
		margin: 0 auto;
	}
	&__img {
	    width: inherit !important;
	    float: left;
	    margin-left: 54px;
	}
	&__description{
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		line-height: 36px;
		font-weight: lighter;
		font-style: italic;
		color: #999999;
		max-width: 770px;
		margin-left: 262px;
	}
	&__signature{
		font-family: 'Kaushan Script', cursive;
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		margin-left: 262px;
	}
	&__signature::before {
	    content: "";
	    display: inline-block;
	    vertical-align: middle;
	    height: 3px;
	    width: 60px;
	    margin-right: 10px;
	    background-color: #f38181;
	}
	&__owl-nav{
		position: relative;
		background: none;
		cursor: pointer;
		z-index: 1;
		background-color: inherit;
	}
	&__boxPrev{
		position: absolute;
		left:17px;
		z-index: 99;
		top: -87px;
	}
	&__boxNext{
		position: absolute;
		right: 17px;
		z-index: 99;
		top: -87px;
	}
	&__owl-prev,&__owl-next{
		background-color: #f8f8f8;
		border: none;
		outline: none !important;
		padding: 0;
	}
	.fa-chevron-left, .fa-chevron-right{
		font-size: 25px;
		color: #cfcfcf;
		background-color: inherit;
	}
}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header{
		&__content-title{
			font-size: 130px;
			line-height: 120px;
		}
		&__content-subtitle{
			font-size: 70px;
		}
	}
	.counter{
		&__child{
			padding: 67px 25px 74px 25px;
		}
		&__number{
			font-size: 63px;
		}
		&__description{
			font-size: 11px;
		}
	}
	.slider{
		padding-top: 60px;
		padding-bottom: 60px;
		&__description{
			font-size: 23px;
			line-height: 34px;
			margin-left: 230px;
		}
		&__signature{
			margin-left: 230px;
		}
		&__img{
			margin-left: 34px;
		}
	}

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header{
		&__menu-item{	
			padding-left: 20px;

		}
		&__content-title{
			font-size: 100px;
			line-height: 90px;
		}
		&__content-subtitle{
			font-size: 60px;
		}
	}
	.info{
		&__icons-item{
			width: 45px;
			height: 45px;
			padding: 7px 7px;
		}
	}
	.counter{
		&__child{
			padding: 57px 10px 64px 10px;
		}
		&__number{
			font-size: 55px;
		}
		&__description{
			font-size: 10px;
		}
	}
	.slider{
		&__description{
			font-size: 20px;
			line-height: 28px;
			margin-left: 220px;
		}
		&__signature{
			margin-left: 220px;
		}
		&__img{
			margin-left: 30px;
		}
	}
}
@media only screen and (max-width : 768px) {
	.header{
		.d-mobile-none{
			display: none;
		}
		&__logo{
			padding-left: 0;
		}
		&__mobile-menu{
			text-align: center;
		}
		&__menu-item{
			font-size: 20px;
		}
		&__content-title{
			font-size: 80px;
			line-height: 70px;
		}
		&__content-subtitle{
			font-size: 40px;
			margin-top: 100px;
		}
		&__menu-link{
			&:hover{
				padding-bottom: 2px;
	    		border-bottom: 3px solid #fce38a;
			}
			&:active{
				padding-bottom: 2px;
	    		border-bottom: 3px solid #fce38a;
			}
		}
	}
	.description{
		&__text{
			padding: 0 15px 0 15px;
		}
	}
	.info{
		padding-top: 48px;
		padding-bottom: 40px;
		&__3col{
        	justify-content: center;
		}
		&__wrapper{
			width: 100%;
        	max-width: 410px;
        	margin-bottom: 30px;
		}
	}
	.counter{
		&__child{
			padding: 57px 2px 64px 2px;
		}
		&__number{
			font-size: 50px;
		}
		&__description{
			font-size: 10px;
		}
	}
	.slider{
		padding-top: 30px;
		padding-bottom: 30px;
		&__description{
			font-size: 15px;
			line-height: 24px;
			margin-left: 170px;
		}
		&__signature{
			font-size: 18px;
			margin-left: 170px;
		}
		&__img{
			margin-left: 25px;
			width: 120px !important;
		}
		&__boxPrev, &__boxNext{
			top: -77px;
		}
	}

}
@media only screen and (max-width : 576px) {
	.header{
		&__content-title{
			font-size: 50px;
			line-height: 40px;
		}
		&__content-subtitle{
			font-size: 25px;
			margin-top: 100px;
		}
	}
	.description{
		&__text{
			padding: 0 5px 0 5px;
		}
	}
	.counter{
		&__child{
			padding: 27px 2px 27px 2px;
			width: 100%;
			border-left: none;
			border-bottom: 1px solid #b5eae0;
			flex: none;
		}
		&__child:last-child {
	    	border-right: none;
		}
		&__number{
			font-size: 52px;
		}
		&__description{
			font-size: 14px;
		}
	}
	.slider{
		&__box{
			width: 94%;
		}
		&__description{
			font-size: 13px;
			line-height: 20px;
			margin-left: 125px;
		}
		&__signature{
			margin-left: 125px;
		}
		&__signature::before {
		    width: 45px;
		}
		&__img{
			margin-left: 15px;
			width: 100px !important;
		}
		&__boxPrev, &__boxNext{
			top: -62px;
		}
		&__boxPrev{
			left: 0;
		}
		&__boxNext{
			right: 0;
		}
	}
}
@media only screen and (max-width : 542px){
	.slider{
		&__description{
			font-size: 12px;
			line-height: 16px;
			margin-left: 88px;
		}
		&__signature{
			font-size: 15px;
			margin-left: 88px;
		}
		&__img{
			margin-left: 10px;
			width: 70px !important;
		}
		&__boxPrev, &__boxNext{
			top: -48px;
		}
	}
}
@media only screen and (max-width : 450px){
	.slider{
		&__description{
			font-size: 12px;
			line-height: 16px;
			margin-left: 15px;
		}
		&__signature{
			font-size: 15px;
			margin-left: 10px;
		}
		&__signature::before {
		    width: 25px;
		}
		&__img{
			display: none !important;
		}
		&__boxPrev, &__boxNext{
			top: -48px;
		}
	}
}
@media only screen and (max-width : 374px){
	.slider{
		&__boxPrev, &__boxNext{
			top: -54px;
		}
	}
}